*{
    font-family: sans-serif;
}


#wrapper{
    padding-top: 5px;
    padding-right: 115px;
    padding-bottom: 50px;
    padding-left: 115px;
    background: no-repeat fixed url("../img/1.jpg"); 
    background-position:top;
}
#imagen{
    
   
    margin: 5px;
}

#barra1{
    border:  0px solid black;
    width: auto;
    height: 100px;
    background: #1E90FF;
    padding: 5px;
    border-radius: 10px;
}
#barra2{
    border:  0px solid black;
    width: auto;
    height: 35px;
      padding: 15px;
    align-content: center;
    text-align:center;
}
#adorno{
    border:  0px solid black;
    width: auto;
    height: 550px;
    
    padding: 0px;
}

#contenedorart{
    border:  1px solid black;
    width: auto;
    height: 505px;
    background: rgba(0, 0, 0, 0.7);
    padding:  10px 20px 0px 90px ;
    box-shadow: 0 0 0 1px black,
        7px 7px 7px;
    border-radius: 10px;
}

#contenedor{
    margin: 0px auto;
}

#cont1{
    border:  1px solid black;
    width: 92%;
    height: 150px;
    background: #B1C8E6;
    margin: 10px;
    float: left;
    padding: 10px;
    border-radius: 3px;
}

#cont2{
    border:  1px solid black;
    width: 44%;
    height: 150px;
    background: #B1C8E6;
    margin: 10px;
    float: left;
     padding: 10px;
    border-radius: 3px;
}

#cont3{
    border:  1px solid black;
    width:44%;
    height: 150px;
    background: #B1C8E6;
    margin: 10px;
    float: left;
     padding: 10px;
    border-radius: 3px;
}


#footer{
    border:  1px solid black;
    width: auto;
    height: 100px;
    background: #1E90FF;
    padding: 15px;
    border-radius: 10px;
}
.btnbarra1{
    float: right;
    margin: 5px;
}


h1{
  color:#c0c0c0;
  font-weight:100;
}

.btn{
  color:#999;
  background:rgba(0, 0, 0, 0.7);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
    
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; 
  color:#1b1b1b;
}

.redes{
    width: 50px;
    height: 50px;
    align-content: center;
}

#d1{
    width: 25%;
    height: 90px;
    border: 0px solid black;
    float: left;
}
#d2{
    width: 43%;
    height: 90px;
    border: 0px solid black;
    float: left;
}
#d3{
    width: 30%;
    height: 90px;
    border: 0px solid black;
    float: left;
}




















